<div class="row">
    <div class="col-md-5">
        <!--contact-->
        <div class="contact">
            <div class="addr">
                <div class="title">Datos<h3>COntacto</h3></div>
                <p>Our family has been in the restaurant business for a very long time. Nowadays we can proudly boast our reputation for a well known Italian restaurant in our area.&nbsp;</p>
                <ul class="list-ul">
                    <li><i class="fa fa-home"></i>Domingo Toro Herrera 980 Talagante</li>
                    <li><i class="fa fa-phone"></i>(56) 99872 5080</li>
                    <li><i class="fa fa-envelope"></i>saboresdecasma.restaurante@gmail</li>
                </ul>
            </div>
            <form>
                <div class="title">Formulario<h3>Contacto</h3></div>
                <div class="form-group">
                    <input type="text" class="form-control form-item" name="name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-item" name="phone" placeholder="Celular">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-item" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control form-item" rows="3" name="content" placeholder="Contenido"></textarea>
                </div>
                <button type="submit" class="btn btn-1">Send</button>
            </form>
        </div>
        <!--/contact-->
    </div>
    <div class="col-md-6">
        <!--googlemap-->
        <div id="googlemap"></div>
    </div>
</div>