<!-- footer -->
<footer id="wrap-footer" class="color-w">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#" class="logo">
              <img src="assets/images/logo/logo_web_2.png" alt="image">
            </a>
            <ul>
              <li>Direccion<span class="pull-right"></span><br/><span >Domingo Toro Herrera 980 Talagante</span><br/></li>
              <li>WhatsApp<span class="pull-right"></span><br/><span >56 99872 5080</span><br/></li>
              <li>Correo Electrónico<span class="pull-right"></span><br/><span >saboresdecasma.restaurante@gmail</span><br/></li>
              <li>Reservas e informaciones<span class="pull-right"></span><br/><span >2 2814 5338 - 44 291 4457</span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Horarios</h4>
            <ul>
              <li>Lunes<span class="pull-right">11:00 Am - 22:00 Pm</span></li>
              <li>Martes<span class="pull-right">11:00 Am - 22:00 Pm</span></li>
              <li>Miercoles<span class="pull-right">11:00 Am - 22:00 Pm</span></li>
              <li>Jueves<span class="pull-right">11:00 Am - 22:00 Pm</span></li>
              <li>Viernes<span class="pull-right">11:00 Am - 22:00 Pm</span></li>
              <li>Sabado<span class="pull-right">11:00 Am - 20:00 Pm</span></li>
              <li>Domingo<span class="pull-right">11:00 Am - 18:00 Pm</span></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Galería</h4>
            <ul class="gallery-2">
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria1_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria1_redimin.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li> 
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria2_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria2_redimin.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria3_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria3_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria4_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria4_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria5_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria5_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria6_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria6_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria7_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria7_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria8_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria8_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
              <li class="gallery-item">
                <a href="assets/images/thumbs-large/galeria9_redi.jpg" class="hover-img image-zoom">
                  <img src="assets/images/galeria9_redi.jpg" alt="image">
                  <div class="hover-caption color-w"><i class="fa fa-search-plus"></i></div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h4>Síguenos en:</h4>
            <p></p>
            <ul class="list-inline social-default social-bg-gray">
              <li><a href="https://www.facebook.com/Wsp.569.98725080" class="fa fa-facebook"></a></li>
              <!--<li><a href="#" class="fa fa-google-plus"></a></li>-->
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-youtube-play"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>  
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>Designed by <a href="#">ndktheme</a>. All Rights Reserved</p>
      </div>
    </div>
</footer>
<!--/footer-->