<!--testimonial-->
<div class="heading-group testimonial color-w">
    <h2>TESTIMONIOS</h2>
      <div class="star-group">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o star-1x"></i>
        <i class="fa fa-star-o"></i>
      </div>
    <div class="owl" data-items="1" data-itemsDesktop="1" data-itemsDesktopSmall="1" data-i-temsTablet="1" data-itemsMobile="1">
      <div class="testimonial-item">
        <figure class="testimonial-img"><img src="assets/images/testimonio/Jhoel_Testimonio_web.jpg"  alt="image"></figure>
        <h4>- Jhoel Huerta -</h4>
        <p>" Recomiendo probar el Ceviche combinado, realmente delicioso. Me transportó a los verdaderos sabores de mi tierra."</p>
      </div>
      <div class="testimonial-item">
        <figure class="testimonial-img"><img src="assets/images/testimonio/Erick_Testimonio_web.jpg"  alt="image"></figure>
        <h4>- Erick Galindo -</h4>
        <p>" El lugar es mágico y muy acogedor en especial el patio de afuera! Con sol es una delicia! Todo lo que pedimos era muy bueno y los vinos, ni que decir, extraordinarios!. La compañía de primera! Llegar a este restaurante obliga una pequeña visita a este precioso pueblo casmeño! La atención agradable! La comida deliciosa! Un restaurante que recomiendo altamente!."</p>	
      </div>
      <div class="testimonial-item">
        <figure class="testimonial-img"><img src="assets/images/testimonio/Angie_Testimonio_web.jpg"  alt="image"></figure>
        <h4>- Angie Vega -</h4>
        <p>" Muy buena relación calidad-precio y un trato exquisito: educado, atento y nada empalagoso. Ceviches ,Lomos y Jaleas muy bien hechas. Sin hacer alardes innecesarios,todo en su punto. Decoración muy cuidada. "</p>
      </div>
    </div>
  </div>