<div class="row">
    <div class="col-sm-12 col-md-8">
      <!--welcome-->
      <div class="mod-welcome">
        <div class="title"> Sabores De  Casma <h3></h3></div>
        <p>Nuestro Casma, es quien da vida a este restaurante con más de 4 años sirviendo a sus clientes sus mejores platillos con la gran 
          variedad culinaria y la dedicación con lo que hacemos los platos, hace de este un gran lugar para pasar momentos gratos en familia.
          <a class="readmore" href="/about">Leer más</a>
        </p>
      </div>
      <!--/welcome-->
    </div>
    <div class="col-sm-12 col-md-4">
      <!--reservation btn-->
      <div class="reservation-btn">
        <a href="https://api.whatsapp.com/send?phone=51923928966">
        <!--<a href="tel:+51923928966">-->
          reservación
        </a>
      </div>
      <!--/reservation btn-->
    </div>
</div>
<div class="ad">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="ad-item bg-1">
          <h3>Oferta Especial - 50%</h3>
          <p>Lleve el 2º tabla de piqueo y el ultimo saldrá a mitad de costo 
            <a class="readmore" href="#">Read more</a>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="ad-item bg-2">
          <h3>Degustación - Free</h3>
          <p>Puede degustar de nuestra leche de tigre totalmente gratis
            <a class="readmore" href="#">Read more</a>
          </p>
        </div>
      </div>
    </div>
</div> 
