
  <div id="wrap">
      <app-preload></app-preload>
      <app-header></app-header>
      <!--wrap-content-->
      <div id="wrap-body">
        <!--slideshow-->
        <app-welcome></app-welcome>
        <!--/slideshow-->
        <div class="container" id="main-content">
          <!--presentacion-->
          <!--ad-->
          <app-presentacion></app-presentacion>
          <app-categorias></app-categorias>
          <app-populares></app-populares>
          <app-testimonios></app-testimonios>
          <app-eventos></app-eventos>
          <app-suscripcion></app-suscripcion>
          <!--/ad-->
          <!--/presentacion-->      
        </div>
      </div>
      <!--/wrap-content-->
      <app-footer></app-footer>
  </div>
